/*@import url(https://fonts.googleapis.com/css?family=Rubik);*/
@font-face {
    font-family: Rubik;
    src: url(https://fonts.googleapis.com/css?family=Rubik);
}
/* color variables */


:root {
    /* primary colors */
    --pink: rgb(247, 85, 122);
    --offwhite: #fffae3;
    --turquoise: rgb(153, 225, 217);
    --blue: rgb(88, 119, 146);
    --dark-violet: #5d576b;

    /* hover colors */
    --hover-pink: #cb4161;
    --hover-turquoise: #6db1aa;
}

/* global */
body {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
    padding: 1rem;
    margin-left: 8rem;

    background-color: var(--dark-violet);
}


/* login page styles */
/*
.button
{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid var(--offwhite);
    
}
*/

.buttons {
    margin-top: 10px;
    padding: 10px;
}

.login-box {
    border: 2px solid var(--offwhite);
    background-color: var(--offwhite);
    border-radius: 10px;
    padding: 9px 15px 9px 15px;

    height: 50%;
    width: 80%;

    margin-top: 2rem;
    text-align: center;
}

#pink-btn, #turq-btn {
    margin: 4px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 5rem;
}

#turq-btn {
    background-color: var(--turquoise);
    border: 2px solid var(--turquoise);
}

#pink-btn {
    background-color: var(--pink);
    border: 2px solid var(--pink);
}

#turq-btn:hover {
    background-color: var(--hover-turquoise);
}

#pink-btn:hover {
    background-color: var(--hover-pink);
}

.link-btn {
    text-decoration: none;
    color: black;
}

.link-btn:hover {
    color: var(--pink);
}

/* home page styles */

.home {
    text-align: center;
    color: var(--offwhite);
}
.content {
    display: flex;
}
.content section {
    background-color: var(--offwhite);
    flex: 1;
    box-sizing: border-box;

    padding: 1rem;
    margin: 1rem;
    height: 600px;
    width: 120px;
}

.content p {
    color: var(--offwhite);
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px;
}


/* profile page styles */

.profile {
    text-align: center;
}
.profile-content {
    display: flex;
}
.profile section {
    flex: 1;
    box-sizing: border-box;

    padding: 1rem;
    margin: 1rem;
    height: 600px;
    width: 200px;
}

.posts {
    background-color: var(--offwhite);
}

.posts p {
    color: var(--offwhite);
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px;
}

.bio {
    background-color: var(--offwhite);
}

.bio p {
    color: var(--offwhite);
    background-color: var(--pink);
    border-radius: 10px;
    padding: 10px;
}


/* settings page styles */

.settings-box {
    margin-left: 15rem; 
    background-color: var(--dark-violet);
}

.setting-info {
    padding-left: 0;
    padding-right: 400px;
}

#account {
    background-color:rgb(153, 225, 217);
    border-radius: 25px;
    display: block;
    font-size: 35px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    color: var(--dark-violet);
    border: 5px solid var(--turquoise);
    border-radius: 25px;
    background-color: var(--turquoise);
    padding: 9px 15px 9px 15px;
    cursor: pointer;
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#account:hover {
    background-color: var(--hover-turquoise);
}

#notifs {
    background-color:rgb(153, 225, 217);
    border-radius: 25px;
    display: block;
    font-size: 35px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    color: var(--dark-violet);
    border: 5px solid var(--turquoise);
    border-radius: 25px;
    background-color: var(--turquoise);
    padding: 9px 15px 9px 15px;
    cursor: pointer;
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#notifs:hover {
    background-color: var(--hover-turquoise);
}

#blocks {
    background-color:rgb(153, 225, 217);
    border-radius: 25px;
    display: block;
    font-size: 35px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    color: var(--dark-violet);
    border: 5px solid var(--turquoise);
    border-radius: 25px;
    background-color: var(--turquoise);
    padding: 9px 15px 9px 15px;
    cursor: pointer;
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#blocks:hover {
    background-color: var(--hover-turquoise);
}

#privacy {
    background-color:rgb(153, 225, 217);
    border-radius: 25px;
    display: block;
    font-size: 35px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    color: var(--dark-violet);
    border: 5px solid var(--turquoise);
    border-radius: 25px;
    background-color: var(--turquoise);
    padding: 9px 15px 9px 15px;
    cursor: pointer;
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#privacy:hover {
    background-color: var(--hover-turquoise);
}

#terms {
    background-color:rgb(153, 225, 217);
    border-radius: 25px;
    display: block;
    font-size: 35px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    color: var(--dark-violet);
    border: 5px solid var(--turquoise);
    border-radius: 25px;
    background-color: var(--turquoise);
    padding: 9px 15px 9px 15px;
    cursor: pointer;
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#terms:hover {
    background-color: var(--hover-turquoise);
}

#help {
    background-color:rgb(153, 225, 217);
    border-radius: 25px;
    display: block;
    font-size: 35px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    color: var(--dark-violet);
    border: 5px solid var(--turquoise);
    border-radius: 25px;
    background-color: var(--turquoise);
    padding: 9px 15px 9px 15px;
    cursor: pointer;
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#help:hover {
    background-color: var(--hover-turquoise);
}


  
